body, html {
  height: 100%;
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
}

* {
  box-sizing: border-box;
}

.bg-image {
  /*Image used*/
  background-image: url("IMG_5919.png");

  /*Add blur effect*/
  filter: blur(8px);
  -webkit-filter: blur(8px);

  /*Full height*/

  height: 100%;


  /* Center and scale image */
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

/* Position text in the middile of the page/image */
.bg-text {
  background-color: rgb(0,0,0); /*fallback color*/
  background-color: rgba(0,0,0, 0.4); /* black with opacity */
  color: white;
  font-weight: bold;
  border: 3px solid #f1f1f1;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 2;
  width: 80%;
  padding: 20px;
  text-align: center;
}

h1 {
  font-size: 50px;
}
