html,
        body {
            font-family: 'Space Grotesk', sans-serif;
            height: 100%;
            margin: 0;
            padding: 0;
            background-color: white;
        }

        #intro {
            font-size: 95px;
            margin-left: 10%; 
            position: fixed;
        }

        canvas[resize] {
            width: 100%;
            height: 100%;
        }

        .footer {
            position: fixed;
            left: 0;
            bottom: 0;
            width: 100%;
            
            color: whitesmoke;
            text-align: center;
        }

		.footer:hover {
			color:#e2725b;
		}

        a {
            text-decoration: none;
            color: whitesmoke;
            padding: 20px;
        }
        a:hover {
            color:#e2725b;
            text-decoration: underline;
        }